
.rabate-tag {
  margin-left:20px;
  padding:0 10px 0 12px;
  background:$color-tag-background;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;

  height: 48px;
  line-height: 46px;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  border: 1px solid $color-tag-border;
  display: inline-block;
  position: relative;

  i {
    font-style: normal;
  }

  &:before{
    content:"";
    float:left;
    position:absolute;
    top: -1px;
    left:-24px;
    width:0;
    height:0;
    border-color:transparent $color-tag-background transparent transparent;
    border-style:solid;
    border-width: 24px 24px 24px 0;
    z-index: 1;
  }

  &:after{
    content:"";
    float:left;
    position:absolute;
    top: -1px;
    left:-25px;
    width:0;
    height:0;
    border-color:transparent $color-tag-border transparent transparent;
    border-style:solid;
    border-width: 24px 24px 24px 0;
  }

  em{
    content:"";
    position:absolute;
    top: 50%;
    left: -5px;
    float:left;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $color-body-background;
    border: 1px solid $color-tag-border;
    z-index: 2;
  }
}

.top-price-sum {
  font-size: 60px;
  font-weight: 700;
}

/* Custom page footer */
.footer {
    
}

body > section {
  max-width: 880px;
  // background: $color-template-base;
}

.choose-product .btn-default {
  background: transparent;
  width: 100%;
  text-align: left;
  position: relative;
}

.choose-product .btn-default .form-horizontal .control-label {
  text-align: left;
}

.btn.btn-block {
  border: 0;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  color: white;
  font-size: 24px;
}

.input-group {
  
  .input-lg {
    border-right: 0;
    box-shadow: none;
    border-color: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.input-group-addon {
  background-color: transparent;
  color: white;
  border-left: 0;
  font-size: 20px;
  border-color: white;
}

.parsley-errors-list {
  color: red;
}

.form-control {

  &::-webkit-input-placeholder {
    // color: lighten(rgba(255,255,255), 80%);
    color: $color-white;
    font-size: 12px;
    line-height: 24px;
  }

  &::-moz-placeholder {
    color: #fff;
    font-size: 12px;
    line-height: 24px;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
  
  &::-ms-input-placeholder {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
}

.dropdown-menu{
  width: 100%;
}

.btn-success{
  background: #ffae00;
  background: -moz-linear-gradient(top,  #ffae00 0%, #ff9501 90%, #ff7b11 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffae00), color-stop(90%,#ff9501), color-stop(100%,#ff7b11));
  background: -webkit-linear-gradient(top,  #ffae00 0%,#ff9501 90%,#ff7b11 100%);
  background: -o-linear-gradient(top,  #ffae00 0%,#ff9501 90%,#ff7b11 100%);
  background: -ms-linear-gradient(top,  #ffae00 0%,#ff9501 90%,#ff7b11 100%);
  background: linear-gradient(to bottom,  #ffae00 0%,#ff9501 90%,#ff7b11 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae00', endColorstr='#ff7b11',GradientType=0 );

  border: 1px solid #cc6922;
  transition: background .2s ease-in-out;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,243,121,0.75), 0px 6px 10px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,243,121,0.75), 0px 6px 10px -4px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 0px 0px rgba(255,243,121,0.75), 0px 6px 10px -4px rgba(0,0,0,0.2);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus {
  background: darken(#ff9501, 5%);
  border: 1px solid #cc6922;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.table {

  &.product-item  {
    tr {

      &:hover {
        background-color: $color-lead-lighten;
      }

      td {
        // border-top: 1px solid $color-white;
        border: none;
        font-size: $font-size-medium;
      }
    }

  }
}

.remove-item {
  color: $color-white;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-tag-border;
    background-color: transparent;
    text-decoration: none;
  }
}

.white {
  border-color: $color-white;
}


.parsley-errors-list {
  list-style-type: none;
  padding:0;
  text-align: center;
  font-size: 12px;
}

.dropdown-toggle {
  
  .arr {
    
    &:before {
      content: "\f107";
      font-family: $font-icons;
    } 
  }
}

.bottom-buttons {
  text-align: right;
  
  button {
    width: 30%;
    

    @include mobile {
      width: 100%;
    }
  }
}

.summary-price-description {
  display: block;
  text-align: right;
  font-size: 11px;
}

.custom-error {
  display: none;
}