$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$color-black: #000;
$color-white: #fff;
$color-grey: #ebebeb;
$color-template-base: #ff0000;
$color-tag-border: #cd1800;
$color-tag-background: #ff471e;
$color-danger: #C91410;
$color-bg-success: #ff9501;
$color-green: green;

$color-body-background: #fcaf47;
$color-lead: $color-body-background;
$color-lead-lighten: #f9a638;
$color-dark-green: #128C46;
$color-active: #01b71a;

$font-size-medium: 18px;
$font-icons: 'icomoon';
$font-default: 'Lato', 'Roboto', Tahoma, Arial;

// MQ breakpoints
$mqXXLarge:       1360px;
$mqXLarge:        1260px;
$mqLarge:         1200px;
$mqMedium:        991px;
$mqBreak:         925px; //custom
$mqBreakSm:       800px;
$mqTablet:        768px;
$mqMobile:        600px;
$mqMobileXs:      480px;
