$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$color-black: #000;
$color-grey: #ebebeb;
$color-template-base: #ff0000;
$color-tag-border: #cd1800;
$color-tag-background: #ff471e;

$color-body-background: #fcaf47;